<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "about", about_path, class: "nav-link" %>
        </li>
        <% if session[:user_id] != nil %>
          <li class="nav-item">
            <!-- In previous versions of RoR, we can change the method of the links requets through javascript -->
            <!-- Now, with HOTWIRE, is better choice using button_to with method: :delete -->
            <%= button_to "log out", logout_path, method: :delete, class: "nav-link btn btn-link" %>
          </li>
        <% end %>        
      </ul>
    </div>
  </div>
</nav>